---
const { title, description } = Astro.props;
---
<div class="rounded-2xl bg-secondary p-6 flex flex-col h-full">
  <h3 class="font-sans font-bold text-primary text-xl mb-2">{title}</h3>
  <p class="text-primary text-base font-sans opacity-90">{description}</p>
</div>